server = "{{ item.name }}"

# Mirror configuration with capabilities
[host."{{ mirror_url }}"]
  capabilities = ["pull", "resolve"]
  override_path = true

{% if mirror_username and mirror_password %}
# Not working
# # Authentication configuration (preferred method using auth section)
# [host."{{ mirror_url }}".auth]
#   username = "{{ mirror_username }}"
#   password = "{{ mirror_password }}"

# Alternative authentication using HTTP Basic Auth header
#To generate Base64: echo -n "username:password" | base64
[host."{{ mirror_url }}".header]
  authorization = "Basic {{ (mirror_username + ':' + mirror_password) | b64encode }}"
{% endif %} 