apiVersion: v1
kind: Service
metadata:
  name: nexus-repository-service
  namespace: '{{ nexus_namespace }}'
  labels:
    app: nexus-repository
spec:
  type: '{{ nexus_service_type }}'
  ports:
  - name: http
    port: 8081
    targetPort: 8081
    protocol: TCP
  - name: https
    port: 8443
    targetPort: 8443
    protocol: TCP
  {% if nexus_enable_docker_repository | default(false) %}
  - name: docker
    port: {{ nexus_docker_registry_port }}
    targetPort: {{ nexus_docker_registry_port }}
    protocol: TCP
  {% endif %}
  selector:
    app: nexus-repository 