apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: nexus-headers
  namespace: '{{ nexus_namespace }}'
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"
      X-Forwarded-Port: "443"
    customResponseHeaders:
      X-Content-Type-Options: "nosniff"
      X-Frame-Options: "DENY"
      X-XSS-Protection: "1; mode=block" 