apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: nexus-docker-registry-ingressroute
  namespace: '{{ nexus_namespace }}'
  annotations:
    kubernetes.io/ingress.class: traefik
  labels:
    app: nexus-repository
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`{{ nexus_docker_registry_host }}`)
    kind: Rule
    services:
    - name: nexus-repository-service
      port: {{ nexus_docker_registry_port }}
      # terminationDelay is recommended for TCP services to allow graceful connection termination
      terminationDelay: 100
  tls:
    certResolver: default
    domains:
      - main: '{{ nexus_docker_registry_host }}'
    options:
      name: nexus-docker-passthrough-tls-option
      namespace: '{{ nexus_namespace }}' 