apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: nexus-repository-ingressroute
  namespace: '{{ nexus_namespace }}'
  annotations:
    kubernetes.io/ingress.class: traefik
  labels:
    app: nexus-repository
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ nexus_hostname }}`)
      kind: Rule
      services:
        - name: nexus-repository-service
          port: 8081
      middlewares:
        - name: nexus-headers
  tls:
    certResolver: default
    domains:
      - main: '{{ nexus_hostname }}'
    options:
      name: nexus-passthrough-tls-option
      namespace: '{{ nexus_namespace }}'

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: nexus-headers
  namespace: '{{ nexus_namespace }}'
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"
      X-Forwarded-Port: "443"
    customResponseHeaders:
      X-Content-Type-Options: "nosniff"
      X-Frame-Options: "DENY"
      X-XSS-Protection: "1; mode=block" 
