apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nexus-data-pvc
  namespace: '{{ nexus_namespace }}'
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: '{{ nexus_storage_size }}'
  storageClassName: '{{ nexus_storage_class | default("") }}' 