apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: nexus-repository-ingressroute
  namespace: '{{ nexus_namespace }}'
  annotations:
    kubernetes.io/ingress.class: traefik
  labels:
    app: nexus-repository
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ nexus_hostname }}`)
      kind: Rule
      services:
        - name: nexus-repository-service
          port: 8081
  tls:
    certResolver: default
    domains:
      - main: '{{ nexus_hostname }}'
    {# options:
      name: nexus-passthrough-tls-option
      namespace: '{{ nexus_namespace }}' #}