[server]
bind_addr = "{{ backhaul_vars.server_common.bind_addr | default('0.0.0.0:3080') }}"
transport = "tcp"
accept_udp = {{ backhaul_vars.tcp.server.accept_udp | default(false) }}
token = "{{ backhaul_vars.common.token | default('your_token') }}"
keepalive_period = {{ backhaul_vars.server_common.keepalive_period | default(75) }}
nodelay = {{ backhaul_vars.server_common.nodelay | default(true) | string | lower }}
heartbeat = {{ backhaul_vars.server_common.heartbeat | default(40) }}
channel_size = {{ backhaul_vars.server_common.channel_size | default(2048) }}
sniffer = {{ backhaul_vars.common.sniffer | default(false) | string | lower }}
web_port = {{ backhaul_vars.common.web_port | default(2060) }}
sniffer_log = "{{ backhaul_vars.common.sniffer_log | default('/root/backhaul.json') }}"
log_level = "{{ backhaul_vars.common.log_level | default('info') }}"
ports = {{ backhaul_vars.server_common.ports | default([]) | tojson }} 