[client]
remote_addr = "{{ remote_addr | default('0.0.0.0:3080') }}"
edge_ip = "{{ edge_ip | default('') }}"
transport = "wsmux"
token = "{{ token | default('your_token') }}"
connection_pool = {{ connection_pool | default(8) }}
aggressive_pool = {{ aggressive_pool | default(false) }}
keepalive_period = {{ keepalive_period | default(75) }}
dial_timeout = {{ dial_timeout | default(10) }}
nodelay = {{ nodelay | default(true) }}
retry_interval = {{ retry_interval | default(3) }}
mux_version = {{ mux_version | default(1) }}
mux_framesize = {{ mux_framesize | default(32768) }}
mux_recievebuffer = {{ mux_recievebuffer | default(4194304) }}
mux_streambuffer = {{ mux_streambuffer | default(65536) }}
sniffer = {{ sniffer | default(false) }}
web_port = {{ web_port | default(2060) }}
sniffer_log = "{{ sniffer_log | default('/root/backhaul.json') }}"
log_level = "{{ log_level | default('info') }}" 