[server]
bind_addr = "{{ backhaul_vars.wss.server.bind_addr | default('0.0.0.0:8443') }}"
transport = "wss"
token = "{{ backhaul_vars.common.token | default('your_token') }}"
channel_size = {{ backhaul_vars.wss.server.channel_size | default(2048) }}
keepalive_period = {{ backhaul_vars.wss.server.keepalive_period | default(75) }}
nodelay = {{ backhaul_vars.wss.server.nodelay | default(true) | string | lower }}
tls_cert = "{{ backhaul_vars.wss.server.tls_cert | default('/root/server.crt') }}"
tls_key = "{{ backhaul_vars.wss.server.tls_key | default('/root/server.key') }}"
sniffer = {{ backhaul_vars.common.sniffer | default(false) }}
web_port = {{ backhaul_vars.common.web_port | default(2060) }}
sniffer_log = "{{ backhaul_vars.common.sniffer_log | default('/root/backhaul.json') }}"
log_level = "{{ backhaul_vars.common.log_level | default('info') }}"
ports = {{ backhaul_vars.wss.server.ports | default([]) | tojson }} 