[client]
remote_addr = "{{ backhaul_vars.wss.client.remote_addr | default('0.0.0.0:8443') }}"
edge_ip = "{{ backhaul_vars.wss.client.edge_ip | default('') }}"
transport = "wss"
token = "{{ backhaul_vars.common.token | default('your_token') }}"
connection_pool = {{ backhaul_vars.wss.client.connection_pool | default(8) }}
aggressive_pool = {{ backhaul_vars.wss.client.aggressive_pool | default(false) }}
keepalive_period = {{ backhaul_vars.wss.client.keepalive_period | default(75) }}
dial_timeout = {{ backhaul_vars.wss.client.dial_timeout | default(10) }}
retry_interval = {{ backhaul_vars.wss.client.retry_interval | default(3) }}
nodelay = {{ backhaul_vars.wss.client.nodelay | default(true) | string | lower }}
sniffer = {{ backhaul_vars.common.sniffer | default(false) }}
web_port = {{ backhaul_vars.common.web_port | default(2060) }}
sniffer_log = "{{ backhaul_vars.common.sniffer_log | default('/root/backhaul.json') }}"
log_level = "{{ backhaul_vars.common.log_level | default('info') }}" 